#titleSearch {
    text-align: center;
    background: -webkit-linear-gradient(#000000, #00A3FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.40px;
    word-wrap: break-word
}

/* Header styles */
header {
    background-color: #e3f2fd;
    text-align: center;
}


/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}


.responsive{    
    width: 100%; /* Make the image width 100% of the container */
    height: auto; /* Automatically adjust the height while maintaining aspect ratio */
    display: block; /* Remove any extra spacing around the image */
}

@media (max-width: 830px) {
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }