#id_processo {
    color: #979797;
    font-size: 1.25rem;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
    width: 35.8rem;
    height: 3.5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 10rem;
    left: 0px;
    top: 0px;
    background: #F5F5F5;
    border-radius: 2.5rem;
    border: 0.313rem white solid;
    align-items: center;
    gap: 0.625rem;
    display: inline-flex;
}


.titulo {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    padding: 5rem 0 2rem 0;
}

.buttonParent {
    display: inline-flex;
    height: 3.5;
    padding: 1rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 2.5rem;
    background: rgba(0, 163, 255, 0.20);
}

.button-search {
    color: #00A3FF;
    background: none;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.013rem;
    text-transform: uppercase;
    word-wrap: break-word;
}

header nav div form {
    display:table;
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
}

header nav div form button h3 {
    font-size: 3.125rem;
}

#titleSearch {
    width: 100%;
    color: rgba(0, 163.20, 255, 0.60);
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: 0.1rem;
    word-wrap: break-word;
}

.input-group {
    width: 44.75rem;
    height: 3.5rem;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
}

body {
    width: 100%;
    height: 100%;
    background: white;
}