<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Cadastro</title>
    <link href="{{ url_for('static', path='/style-login.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="container">
                <form class="form-inline" method="get" action="/">
                    <span class="navbar-text">
                    <button type="submit" class="btn" style="background: none;" id="titleSearch">
                        <h3>JUS CRAWLER</h3>
                    </button>
                    </span>
                </form>
                <form class="form-inline buttonParent" method="get" action="/entrar" id="loginButton">
                    <img src="static/img/user.png" style="width: 1.5rem;">

                    <button class="btn button-search my-2 my-sm-0" type="submit">
                        Login
                    </button>
                </form>

            </div>
        </nav>
    </header>


<div class="forms-container">
    <form method="post" action="/users/login" class="form-container" style="padding: 1rem;">
        <h2 class="title">Acesso</h2>
        <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input id="email" type="email" placeholder="E-mail" />
        </div>
        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input id="password" type="password" placeholder="Senha" />
        </div>
        <button type="submit" class="btn-entrar solid">Entrar</button>
    </form>
    <form method="post" action="/users/cadastro" class="form-container" style="padding: 1rem;">
        <h2 class="title">Cadastro</h2>
        <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="E-mail" />
        </div>
        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Senha" />
        </div>
        <input type="submit" value="Cadastro" class="btn-entrar solid" />
    </form>
</div>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
